Bussiness/Service References/RuK.DuiBiReportService/DuiBiReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RuK_DuiBiReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RuK_DuiBiReport" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RuK_DuiBiReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MtName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MtUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastmtNumber2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LastmtTotal2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Lastprice2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MtNumber1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MtTotal1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Price1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MtNumber2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MtTotal2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Price2" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="YEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MONTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RuK_DuiBiReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RuK_DuiBiReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RuK_DuiBiReportSoapIn">
    <wsdl:part name="parameters" element="tns:RuK_DuiBiReport" />
  </wsdl:message>
  <wsdl:message name="RuK_DuiBiReportSoapOut">
    <wsdl:part name="parameters" element="tns:RuK_DuiBiReportResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DuiBiReportSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RuK_DuiBiReport">
      <wsdl:input message="tns:RuK_DuiBiReportSoapIn" />
      <wsdl:output message="tns:RuK_DuiBiReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DuiBiReportHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DuiBiReportHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DuiBiReportSoap" type="tns:DuiBiReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RuK_DuiBiReport">
      <soap:operation soapAction="http://tempuri.org/RuK_DuiBiReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DuiBiReportSoap12" type="tns:DuiBiReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RuK_DuiBiReport">
      <soap12:operation soapAction="http://tempuri.org/RuK_DuiBiReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DuiBiReportHttpGet" type="tns:DuiBiReportHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DuiBiReportHttpPost" type="tns:DuiBiReportHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuiBiReport">
    <wsdl:port name="DuiBiReportSoap" binding="tns:DuiBiReportSoap">
      <soap:address location="http://192.168.0.77/API/CRM/DuiBiReport.asmx" />
    </wsdl:port>
    <wsdl:port name="DuiBiReportSoap12" binding="tns:DuiBiReportSoap12">
      <soap12:address location="http://192.168.0.77/API/CRM/DuiBiReport.asmx" />
    </wsdl:port>
    <wsdl:port name="DuiBiReportHttpGet" binding="tns:DuiBiReportHttpGet">
      <http:address location="http://192.168.0.77/API/CRM/DuiBiReport.asmx" />
    </wsdl:port>
    <wsdl:port name="DuiBiReportHttpPost" binding="tns:DuiBiReportHttpPost">
      <http:address location="http://192.168.0.77/API/CRM/DuiBiReport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>